include _includes/helper_functions.jade
extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .row
      .col-xs-12.col-sm-6
        .panel.panel-primary
          .panel-heading
            .panel-title 
              h4 Task Info
          .panel-body
            table.table
              tr
                td
                 b Task
                td= task.name
              tr
                td
                  b Date Added
                td= task.dateAdded 
              tr
                td 
                  b Due Date
                td= task.dateDue
              tr
                td 
                  b Flagged?
                  td= task.flagged
              tr
                td 
                  b Details
                td
                  p= task.details
      .col-xs-12.col-sm-6
        .panel.panel-primary
            .panel-heading
              .panel-title 
                h4 Update Info
            .panel-body
              form(action="/", method="get", role="form").panel-form
                .row
                  .form-group
                    label Task Name
                    input.form-control(type='text' value='#{task.name}')
                  .form-group
                    label Flagged?
                    input.form-control(type='checkbox' checked=task.flagged)
                  .form-group
                    label Date Added
                    p.form-control-static
                      =task.dateAdded
                  .form-group
                    label Due Date
                    input.form-control(type='date' value='#{task.dateDue}')
                  .form-group
                    label Details 
                    textarea.form-control(rows='10')
                      |#{task.details}
                  button.btn-primary.pull-right
                    .i.glyphicon.glyphicon-check
                    |  Submit