include _includes/helper_functions.jade
extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .row
      .col-xs-12.col-sm-6
        .panel.panel-primary
          .panel-heading
            .panel-title 
              h4 Task Info
          .panel-body
            table.table
              tr
                td
                 b Task
                td= tasks[0].name
              tr
                td
                  b Date Added
                td= tasks[0].dateAdded 
              tr
                td 
                  b Due Date
                td= tasks[0].dateDue
              tr
                td 
                  b Flagged?
                  td= tasks[0].flagged
              tr
                td 
                  b Details
                td
                  p= tasks[0].details
      .col-xs-12.col-sm-6
        .panel.panel-primary
            .panel-heading
              .panel-title 
                h4 Update Info
            .panel-body
              form(action="/", method="get", role="form").panel-form
                .row
                  .form-group
                    label Task Name
                    input.form-control(type='text' value='#{tasks[0].name}')
                  .form-group
                    label Flagged?
                    input.form-control(type='checkbox' checked=tasks[0].flagged)
                  .form-group
                    label Date Added
                    p.form-control-static
                      =tasks[0].dateAdded
                  .form-group
                    label Due Date
                    input.form-control(type='date' value='#{tasks[0].dateDue}')
                  .form-group
                    label Details 
                    textarea.form-control(rows='10')
                      |#{tasks[0].details}
                  button.btn-primary.pull-right
                    .i.glyphicon.glyphicon-check
                    |  Submit