include _includes/helper_functions.jade
extends layout

block content
  -if(message)
    .container
      .row
        .col-xs-4.pagination-centered
          .alert.alert-warning
            h4
              .glyphicon.glyphicon-exclamation-sign 
              |&nbsp;&nbsp;#{message}
  .row
    .col-xs-12.col-sm-6
      br
      br
      .panel.panel-primary
        .panel-heading
          .panel-title 
            h4 Update Info
        .panel-body
          form(action="/"+"#{task._id}", method="post", role="form").panel-form.checkforname#update-form
            input(type='checkbox' name='gotolist' style='display: none')#gotolist
            .row
              .form-group
                label Task Name
                input.form-control(type='text' value='#{task.name}' name='name' autocomplete='off')
              .form-group
                label Completed?
                input.form-control#completed(type='checkbox' checked=task.completed name='completed')
              .form-group
                label Date Added
                p.form-control-static
                  =task.dateAdded
              .form-group
                label Due Date
                .datepicker-no.form-inline#due-date-polyfill
                  -if (task.dateDue)
                    -var monthDue = new Date(task.dateDue).getUTCMonth()+1;
                    -var datenumberDue = new Date(task.dateDue).getUTCDate();
                    -var yearDue = new Date(task.dateDue).getUTCFullYear();
                      | Month:
                      input.form-control.month-picker(type='number' min=1 max=12 value=monthDue name='month')#due-month
                      | Day:
                      input.form-control.date-number(type='number' min=1 max=31 value=datenumberDue name='datenumber')#due-date-number
                      | Year:
                      input.form-control(type='number' min=2016 max=2025 value=yearDue name='year')#due-year
                  -else
                    | Month:
                    input.form-control.month-picker(type='number' min=1 max=12 value=1 name='month')
                    | Day:
                    input.form-control.date-number(type='number' min=1 max=31 value=1 name='datenumber')
                    | Year:
                    input.form-control(type='number' min=2016 max=2025 value=2016 name='year')
                .datepicker-yes
                  -if (task.dateDue)
                    input.form-control#due-date-picker(type='date' value='#{task.dateDue}' name='dateDue')
                  -else
                    input.form-control#due-date-picker(type='date' name='dateDue')
              .form-group
                label Details 
                textarea.form-control(rows='10' name='details' autocomplete='off')
                  |#{task.details}
              button.btn.btn-primary.pull-right
                .i.glyphicon.glyphicon-check
                |  Submit Changes
              // Button trigger modal
              button.btn.btn-primary.btn(type='button', data-toggle='modal', data-target='#myModal')#cal-init
                | Send to Google Calendar
    .col-xs-12.col-sm-6

  // Modal
  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')#myModal
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title.add-view Send to Google Calendar
          h4.modal-title.auth-view Google Authentication
          h4.modal-title.success-view Success!
        .modal-body
          #auth-waiting.alert.alert-info Waiting for authorization check with Google....
          #cal-panel.add-view
            #fail-message.alert.alert-danger.invisible
              h4 Something went wrong!
              p The event was not added to your calendar. Here's the error message from the Google API:
              br
              #error-message
            form(action="", method="post", role="form")#calendar-form
              .form-group
                label Event Name
                input.form-control(type='text' value='#{task.name}' name='name')
              .form-group
                label Event Date
                .datepicker-yes
                  -if (task.dateDue)
                    input.form-control#event-date(type='date' value='#{task.dateDue}' name='date')
                  -else
                    -var today = new Date();
                    -var thisYear = today.getFullYear();
                    -var thisMonth = (today.getMonth()+1).toString();
                    -if (today.getMonth()<9){thisMonth = '0'+thisMonth};
                    -var thisDay = today.getDate();
                    -var dateString = thisYear+'-'+thisMonth+'-'+thisDay;
                      input.form-control#event-date(type='date' name='date' value='#{dateString}')
                .datepicker-no.form-inline 
                  -if (task.dateDue)
                    -var monthDue = new Date(task.dateDue).getUTCMonth()+1;
                    -var datenumberDue = new Date(task.dateDue).getUTCDate();
                    -var yearDue = new Date(task.dateDue).getUTCFullYear();
                      | Month:
                      input.form-control.month-picker#event-month(type='number' min=1 max=12 value=monthDue name='month')
                      | Day:
                      input.form-control.date-number#event-date-number(type='number' min=1 max=31 value=datenumberDue name='datenumber')
                      | Year:
                      input.form-control#event-year(type='number' min=2016 max=2025 value=yearDue name='year')
                  -else
                    | Month:
                    input.form-control.month-picker(type='number' min=1 max=12 value=1 name='month')
                    | Day:
                    input.form-control.date-number(type='number' min=1 max=31 value=1 name='datenumber')
                    | Year:
                    input.form-control(type='number' min=2016 max=2025 value=2016 name='year')
              .form-group
                label Start Time
                .form-inline
                  select.form-control(name='hour')
                    each hour in [12,1,2,3,4,5,6,7,8,9,10,11]
                      option(value='#{hour}')= hour
                  select.form-control(name='min')
                    each minutes in ['00','15','30','45']
                      option(value='#{minutes}')= minutes
                  select.form-control(name='am-pm')
                    option(value='am') AM
                    option(value='pm' selected='selected') PM  
              .form-group
                label Duration
                select.form-control(name='duration')
                  option(value=15) 0:15
                  option(selected='selected' value=30) 0:30
                  option(value=45) 0:45
                  option(value=60) 1:00
                  option(value=90) 1:30
                  option(value=120) 2:00
                  option(value=180) 3:00
              .form-group
                label Event Description
                textarea(name='description').form-control
                  |#{task.details}
          #auth-panel.auth-view
            p We can only add events to your Google calendar with your permission. The button below will pop up an authentication window for your Google account.
          .success-view Your event has been successfully added.&nbsp;
            p
            p Would you like to mark this task completed in TaskMan and return to list view?

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button')#auth-init.auth-view Go to Google Permissions
          button.btn.btn-primary(type='button')#send-btn.add-view Add Event
          button.btn.btn-primary(type='button')#mark-completed.success-view Mark Completed
          a(target='_blank')#event-link
            button.btn.btn-primary(type='button').success-view View Event on Calendar

block scripts
  script(src='/javascripts/calendar.js')  
  script(src='https://apis.google.com/js/client.js')
