include _includes/helper_functions.jade
extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .row
      .panel.panel-primary
        .panel-heading
        .panel-body
          table.table.table-striped
            thead
              tr
                th#check Finished?
                th#taskname Task Name
                th#details
                  .pull-right Details
            tbody
              form#check-form(action="/updatecompleted/", method="post", role="form")
                each task in tasks
                  tr
                    td
                      input(type='checkbox', checked=task.completed, name="#{task._id}")
                    td= task.name
                      -if(task.flagged)
                        span.pull-right.glyphicon.glyphicon-fire
                    td
                      a(href="/details/"+'#{task._id}')
                        .pull-right View/Edit Details
              tr.form-row
                form(action="/create", method="post", role="form")
                  td
                  td
                    input(type='text' value='New Task' name="name" autocomplete='off')#newtask
                  td 
                    button.btn-primary.pull-right Add New Task
          button(form="check-form").btn-primary Mark Checked Tasks as Completed
